name: Scout Audit

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  scout-audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Scout Audit
        uses: coinfabrik/scout-actions@v3
        with:
          target: 'contracts'
